body {
  // background-image: url('../images/background.jpg');
  // background-size: cover;
  background-color: #171836;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 1.2;
}

.body--active {
  @include maxw($md) {
    overflow: hidden;
  }
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;

  @include maxw($exsm) {
    padding: 0 10px;
  }
}

.btn {
  background-color: #F5443B;
  font-weight: 700;
  border-radius: 6px;
  color: #fff;
  padding: 12px 32px;
  transition: 0.6s background-color;

  &:hover {
    background-color: rgba(245, 68, 59, 0.6);
  }

  &--transparent {
    background-color: transparent;
    color: #F5443B;
    border: 1px solid #F5443B;
    transition: 0.6s background-color, 0.6s color;

    &:hover {
      color: #fff;
    }
  }
}

.title {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 20px;
  letter-spacing: -0.01em;
  text-align: center;

  @include maxw($sm) {
    font-size: 26px;
  }
}

.desc {
  font-size: 18px;
  display: block;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

.burger {
  display: none;
  background-color: transparent;

  @include maxw($md) {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 20;
    right: 0;
    cursor: pointer;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    transition: transform 0.4s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: opacity 0.4s;
  }
}

.burger--active {

  &::before {
    transform: translateY(9px) rotate(45deg);
    background-color: #24294f;
  }

  &::after {
    transform: translateY(-9px) rotate(-45deg);
    background-color: #24294f;
  }

  span {
    opacity: 0;
  }
}

.caps {
  text-transform: uppercase;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.checkbox-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.students {
  background: linear-gradient(180deg, rgba(76, 94, 157, 0.8) -32.08%, rgba(23, 24, 54, 0.8) 127.36%);
  max-width: 365px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  &__list {
    display: flex;
    max-width: 200px;
  }

  &__item {
    position: relative;

    &:nth-child(2) {
      left: -16px;
    }

    &:nth-child(3) {
      left: -32px;
    }

    &:nth-child(4) {
      left: -48px;
    }

    &:nth-child(5) {
      left: -64px;
    }
  }

  &__img {
    border-radius: 50%;
    display: block;
    border: 1px solid #6668AA;
    max-width: 52px;
    height: 52px;
    object-fit: cover;
  }

  &__img--join {
    background-color: #8087B8;
    background-image: url('../images/icons/plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 52px;
    transition: 0.5s background-color, 0.3s border-color;

    &:hover {
      background-color: #828cd8;
      border-color: #ccc;
    }
  }

  &__text {
    font-weight: 500;
    max-width: 110px;
    font-size: 14px;
    color: #BBBBC4;
  }

  &--red {
    color: #FB5048;
    font-weight: 600;
  }
}

.filter-form {

  &__wrapp {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    @include maxw($sm) {
      margin-bottom: 20px;
    }
  }

  &__input {
    outline: transparent;
    width: 100%;
    height: 68px;
    background-color: #1F2143;
    border: none;
    color: #fff;
    border-radius: 12px;
    padding: 0 70px 0 20px;

    &::placeholder {
      padding-left: 30px;

      @include maxw($sm) {
        padding-left: 10px;
      }
    }
  }

  &__search {
    max-width: 44px;
    width: 100%;
    height: 44px;
    background-image: url('../images/icons/magnifier.svg');
    background-repeat: no-repeat;
    border: 1px solid transparent;
    background-position: center;
    border-radius: 6px;
    background-color: #282B57;
    margin-left: -60px;
    transition: 0.5s background-color, 0.6s border-color;

    &:hover {
      border-color: #9a9ccb;
      background-color: rgba(95, 86, 86, 0.3);
    }
  }

  &__desc {
    color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    margin-bottom: 35px;

    @include maxw($sm) {
      margin-bottom: 10px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @include maxw($sm) {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    margin-bottom: 25px;

    @include maxw($sm) {
      margin-bottom: 0;
    }

    &:not(:nth-child(3n)) {
      margin-right: 20px;

      @include maxw($sm) {
        margin-right: 0;
      }
    }
  }

  &__name {
    font-weight: 400;
    padding: 8px 18px;
    font-size: 14px;
    border: 1px solid rgba(154, 156, 203, 0.6);
    color: rgba(154, 156, 203, 0.6);
    border-radius: 8px;
    display: block;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1;
  }

  &__checkbox {
    &:checked {
      width: 50px;
      height: 80px;

      &+.filter-form__name {
        background-color: rgba(255, 255, 255, 0.4);
        color: black;
      }
    }
  }
}

.learn-card {
  max-width: 275px;
  width: 100%;
  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
  border-radius: 20px;
  border: 3px solid rgb(34, 35, 73);
  padding: 12px 12px 24px;

  @include maxw($lr) {
    max-width: 90%;
  }

  @include maxw($md) {
    max-width: 100%;
  }

  @include maxw($exsm) {
    padding: 5px 5px 10px;
  }


  &:hover {
    .learn-card__img {
      transform: scale(1.05);
    }

    .learn-card__btn {
      display: block;
    }
  }

  &__wrapp {
    margin: 0 auto;
    border-radius: 10px;
    max-width: 100%;
    max-height: 170px;
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      background-color: rgba(30, 32, 67, 0.3);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__img {
    border-radius: 10px;
    transition: 0.6s transform;
    max-width: inherit;
    width: 100%;
    max-height: inherit;
    object-fit: cover;
  }

  &__video {
    padding: 6px 16px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 8px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
  }

  &__text {
    padding-bottom: 20px;
    border-bottom: 1px solid #292B56;
  }

  &__info {
    color: #3BF5BD;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 5px;
  }

  &__title {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 15px;
    @include line-clamp(1);
  }

  &__desc {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    @include line-clamp(2);
  }

  &__account {
    margin: 20px 0 0;
    display: flex;
    align-items: center;
  }

  &__avatar {
    border-radius: 50%;
  }

  &__account-info {
    margin-left: 15px;
  }

  &__name {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
  }

  &__work {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
  }

  &__btn {
    margin: 30px auto 0;
    display: none;

    @include maxw($lr) {
      display: block;
      margin-top: 15px;
    }
  }
}

.price-card {
  max-width: 370px;
  width: 100%;
  min-height: 515px;
  height: 100%;
  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.31) 100%);
  border-radius: 20px;
  padding: 35px;
  display: block;
  position: relative;

  @include maxw($md) {
    max-width: 70%;
  }

  @include maxw($sm) {
    max-width: 100%;
  }

  @include maxw($exsm) {
    padding: 20px;
  }

  &--popular {
    &::after {
      content: url('../images/icons/popular.svg');
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__top {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1.5px solid #272953;
  }

  &__wrapp {
    position: relative;
    height: 100%;
  }

  &__top-wrapp {
    margin-left: 30px;
  }

  &__name {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
  }

  &__cost {
    color: #F5453D;
    font-weight: 700;
    font-size: 28px;

    &::before {
      content: '$';
      font-size: 14px;
      position: relative;
      bottom: 10px;
    }
  }

  &__date {
    font-size: 11px;
    margin-left: -5px;
    font-weight: 500;

    &::before {
      content: '/';
      margin-right: 2px;
    }
  }

  &__list {
    padding-top: 30px;
    margin-bottom: auto;
  }

  &__item {
    font-size: 14px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &::before {
      content: '';
      max-width: 12px;
      width: 100%;
      height: 12px;
      border-radius: 50%;
      background-color: #9799CE;
      margin-right: 12px;
    }
  }

  &__btn {
    margin: 20px auto 0;
    width: 100%;
    position: absolute;
    bottom: 0;

    &--active {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.profile {
  min-height: 450px;
  max-width: 285px;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.192) 0%, rgba(255, 255, 255, 0.088) 100%);
  border-radius: 20px;
  padding: 20px;
  position: relative;

  @include maxw($sm) {
    padding: 20px 10px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
  }

  &__img {
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    max-width: 38px;
    width: 100%;
    height: 38px;
    object-fit: cover;
  }

  &__wrapp {
    font-weight: 600;
    font-size: 12px;
    margin-left: 10px;
    display: inline-block;
    width: 100%;
    position: relative;

    &::after {
      content: url('../images/icons/crown.svg');
      position: absolute;
      right: 0;
      top: 5px;
    }
  }

  &__status {
    margin-top: 5px;
    display: block;
    font-weight: 500;
    font-size: 10px;
  }

  &__bottom {
    background: rgba(18, 11, 35, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    padding: 15px 20px 20px 25px;
    display: flex;
    align-items: center;

    @include maxw($exsm) {
      text-align: center;
      justify-content: center;
    }

    &::before {
      content: '';
      background-image: url('../images/content/profile/lamp.svg');
      max-width: 68px;
      width: 100%;
      height: 68px;
      object-fit: cover;
      margin-right: 20px;

      @include maxw($exsm) {
        display: none;
      }
    }
  }

  &__join {
    font-size: 13px;
    display: block;
    text-align: center;
  }

  &__links {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 75px;

    @include maxw($sm) {
      right: -40px;
    }

    @include maxw($exsm) {
      flex-wrap: wrap;
      justify-content: center;
      right: 0;
      bottom: 10px;
    }
  }

  &__btn {
    width: 160px;
    display: block;
    font-size: 11px;
    padding: 60px 0 15px 15px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.12);
    border-radius: 16px;

    &::after {
      content: url('../images/icons/arrow.svg');
      margin-left: 20px;
    }

    &+& {
      margin-left: 30px;

      @include maxw($exsm) {
        margin-left: 0;
        margin-top: 50px;
      }
    }
  }

  &__btn--progress {

    &::before {
      content: '';
      background-image: url('../images/content/profile/progress.svg');
      max-width: 92px;
      width: 100%;
      height: 87px;
      position: absolute;
      right: 50%;
      bottom: 50px;
      transform: translateX(50%);
    }
  }

  &__btn--collections {

    &::before {
      content: '';
      background-image: url('../images/content/profile/collections.svg');
      max-width: 110px;
      width: 100%;
      height: 79px;
      position: absolute;
      right: 50%;
      bottom: 50px;
      transform: translateX(50%);
    }
  }
}

.links {

  &__list {
    display: flex;
    align-items: center;
  }
  
  &__link {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: transparent;

    &:focus {
      svg {
        fill: rgba(245, 68, 59, 0.4);
      }
    }

    &:hover {
      svg {
        fill: rgba(245, 68, 59, 0.4);
      }
    }

    svg {
      width: 30px;
      height: 30px;
      fill: #ACABBF;
      transition: 0.3s fill;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}